<% layout('_base') -%>

<%- partial('_header', {title: 'List', description: 'Crontroled Freak'}) -%>

<div class="row">
	<table class="table table-striped table-hover">
		<tr>
			<th>Name</th>
			<th># Fail</th>
			<th>Last report</th>
			<th>10 min</th>
			<th>1 hour</th>
			<th>Delete</th>
		</tr>
		<% for(var i in items) { %>
			<tr>
				<td><a href="/status/<%-items[i].name %>"><%-items[i].name %></a></td>
				<td><%-items[i].failCount %> [<%-items[i].previousFailCount %>]</td>
				<td>Last Report: <%- new Date(Number(items[i].stamp)).toISOString()%></td>
				<td><a href="/silence/<%-items[i].name %>/600000" onclick="return confirm('Are you sure you want to silnce this (10 minutes)?')">Mute</a></td>
				<td><a href="/silence/<%-items[i].name %>/3600000" onclick="return confirm('Are you sure you want to silnce this (1 hour)?')">Mute</a></td>
				<td><a href="/remove/<%-items[i].name %>" onclick="return confirm('Are you sure you want to delete this?')">Delete</a></td>
			</tr>
		<% } %>
	</table>
</div>
