<!DOCTYPE html>
<html>

<head>
	<title>Status</title>
</head>

<body>
	<section>
		<h1>Status -
			<%-name%>
		</h1>
	</section>
	<section>
		<pre>
			Reported in last <%- item.frequency / 1000%> sec : <%- (item.reported ? 'Yes' : 'No')%>
			Last Report: <%- new Date(Number(item.stamp)).toISOString()%>
			Current Failure Count: <%- item.failCount%>
			Last Failure Count: <%- item.previousFailCount%>
			Silenced: <%- (item.silence != null ? ('Yes until: ' + new Date(Number(item.silenceStart) + Number(item.silenceMiliseconds)).toISOString()) : 'No')%>
		</pre>
	</section>
</body>
</html>
