<% layout('_base') -%>

<%- partial('_header', {title: 'Status', description: name}) -%>

<div class="row">
	<table class="table table-striped table-hover">
		<tr>
			<th>Reported Frequency</th>
			<td><%- item.frequency / 1000%> sec</td>
		</tr>
		<tr>
			<th>Got report in time?</th>
			<td><%- (item.reported ? 'Yes' : 'No') %></td>
		</tr>
		<tr>
			<th>Last Report</th>
			<td><%- new Date(Number(item.stamp)).toISOString() %></td>
		</tr>
		<tr>
			<th>Current Failure Count</th>
			<td><%- item.failCount%></td>
		</tr>
		<tr>
			<th>Last Failure Count</th>
			<td><%- item.previousFailCount%></td>
		</tr>
		<tr>
			<th>Silenced</th>
			<td><%- (item.silence != null ? ('Yes until: ' + new Date(Number(item.silenceStart) + Number(item.silenceMiliseconds)).toISOString()) : 'No') %></td>
		</tr>
	</table>
</div>
